body{
    margin: 0;
    padding: 0;
    background-color: #1f1f1f;
    color: #bfbfbf;
    height: 2000px;
}
h1{
    font-weight: normal;
    color: #fff;
}
em{
    color: gold;
}
.box1{
    width: 15%;
    height: 140px;
    margin-bottom: 10px;
    background-color:rgb(25, 118, 175);
    position: inherit;
    top: 100px;
    position: inherit;
    z-index: 5;  
    float: right;  /* removes an element from the document flow and pushes
    it to the far left/right*/

}
